[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
python-dotenv = "*"
requests = "*"
djangorestframework = "*"
django-cors-headers = "*"
pip = "*"
whitenoise = "*"
pillow = "*"
python-magic = "*"
gunicorn = "*"
sentry-sdk = {extras = ["django"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
